<div class="container">
    <div class="container" style="height: 100%; width: 100%;">
        <div class="row">
            <div class="col-9" style="background-color: transparent; height:40px; margin-top: 15px;">
                

                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <a href="#" style=" background-color: darkblue; font-family :-apple-system;" class="btn btn-primary active-cyan active-cyan-2 ">Q</a>
                       
                    </div>
                  </div>
                
                  


            </div>
         
            <div class="col-3" style="background-color: transparent;height:40px; margin-top: 15px; ">

                <a href="#" style="color: white; margin-left: 50%;" class="btn btn-success active-lime active-lime-2 ">New Product</a>
              
            </div>
          </div>
    </div>

    <div class="container" style="height: 100%; width: 100%;">
        <div class="row">
            <div class="col-9" style="background-color: transparent; height:600px; margin-top: 15px;">
              
                
                <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-6" style="margin-top: 5px;">
                      <div class="card">
                        <div class="card-body">
                          <h3 class="card-title">Product : </h3>
                          <h6 class="card-text">Category : </h6>
                          <h5 class="card-title">Price :  </h5>
                          <a href="#" style=" margin-left: 20%; margin-right: 10%; background-color: blue;" class="btn btn-primary active-cyan active-cyan-2 ">Add to Cart</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6" style="margin-top: 5px;">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title">Product : </h3>
                            <h6 class="card-text">Category : </h6>
                            <h5 class="card-title">Price :  </h5>
                            <a href="#" style=" margin-left: 20%; margin-right: 10%; background-color: blue;" class="btn btn-primary active-cyan active-cyan-2 ">Add to Cart</a>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6" style="margin-top: 5px;">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title">Product : </h3>
                            <h6 class="card-text">Category : </h6>
                            <h5 class="card-title">Price :  </h5>
                            <a href="#" style=" margin-left: 20%; margin-right: 10%; background-color: blue;" class="btn btn-primary active-cyan active-cyan-2 ">Add to Cart</a>
                          </div>
                        </div>
                      </div>

                    
                    

                  </div>

            </div>
         
            <div class="col-3" style="border-left: 1px solid blue; background-color: transparent;height:600px; margin-top: 15px;">
                <div class="row" style="margin-top: 5px; margin-left: 3px;">
                <div class="card" style="margin-top: 5px;">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>

                  </div>

            </div>
          </div>
    </div>


