<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">               
<div class="section-header">

 

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Market Easy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
     
      
      <form class="form-inline my-2 my-lg-0" style="display: inline-block; text-align: center; margin-left: auto; margin-right: auto;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" #searchinput>
         </form>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="serchproduct(searchinput.value)">Search</button>
 

      <!----------ADD PRODUCT MODAL-->
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">New Product</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="addProductForm">
            <div class="form-group">
              <div class="input-group">
                <label class="input-label" required>Product Name</label>
               <input name="nameI" style="margin-left: 18%;" type="text"  #pname ng-model="nameI" required/>
               </div>
                  <br>
               <div class="input-group">
                
                <label class="input-label">Product category</label>
              

                  <select  style="margin-left: 14%;"  #pcategory >
                   <option value={{cat}} *ngFor = "let cat of productCategories"> {{cat}}</option>
                   
                 </select>
                 
               
               </div>
               <br>

               <div class="input-group">
                <label class="input-label">Product Price</label>
                <!------------Input with Applied currency mask------>
                <input style="margin-left: 20%;"  #pprice currencyMask formControlName="value" [options]="{ prefix: '$ ', thousands: '  ', decimal: '.' }"/>
               </div>
               
               
             

            </div>

          </form>
        </div>
       

        <div class="modal-footer">
          <button #addbtn  type="submit" class="btn btn-outline-success" (click)="addProduct(pname.value , pcategory.value , pprice.value)">Add</button>
          <button type="button" class="btn btn-outline-danger"  (click)="modal.close('Save click')">Cancel</button>
        </div>
      </ng-template>
       <!------------End of Add Product Modal------>
      
      <button  class="btn btn-md btn-success"style="background-color: #2f0064; border-color : #2f0064; margin-left:50%; " (click)="open(content)">+ Add Product</button>
      
      <hr>
      

      <!------------------end---------------->



       <!----------------Show cart-------------->
       <ng-template #content let-modal>
        <div class="modal-header" >
          <h4 class="modal-title" id="modal-basic-title">Cart</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="dateOfBirth">Date of birth</label>
              <div class="input-group">
                <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>
      
      <button class="btn btn-md btn-outline-success" style="border-color: #2f0064; color: #2f0064; background-color: transparent;" (click)="open(content)">Cart</button>
      
      <hr>
      
      

      <!------------------end -->



      
   

    





      

      
     
    </div>

    
  </nav>
 



</div>



<section class="our-publication pt-20 pb-70">
            
  <div class="container">
             
                
                <div class="row">

                  <!------------------- Fetch items in productlist ------------------->

                    <div class="col-sm-6 col-lg-3" *ngFor = "let product of productList"> 

                      
                        <div class="single-publication">

                         <figure>
                           <img [src] = "productImage(product.category)">

                           <ul>

                          <!-----------Edit Product------->
                           
                           <!----------Edit PRODUCT MODAL-->


      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Update Product</h4>
          <h4 class="modal-title" id="modal-basic-title">{{product.name}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="addProductForm">
            <div class="form-group">
              <div class="input-group">
                <label class="input-label" required>Product Name</label>
               <input name="nameI" style="margin-left: 18%;" type="text"  #pname ng-model="nameI" required value="{{product.name}}"/>
               </div>
                  <br>
               <div class="input-group">
                
                <label class="input-label">Product category</label>
              

                  <select  style="margin-left: 14%;"  #pcategory  >
                   <option value={{cat}} *ngFor = "let cat of productCategories" > {{cat}}</option>
                   
                 </select>
                 
               
               </div>
               <br>

               <div class="input-group">
                <label class="input-label" >Product Price</label>
                <!------------Input with Applied currency mask------>
                <input style="margin-left: 20%;"  #pprice currencyMask formControlName="value" [options]="{ prefix: '$ ', thousands: '  ', decimal: '.' }" value="{{product.price}}"/>
               </div>
               
               
             

            </div>

          </form>
        </div>
        <!------------End of Edit Product Modal------>

        <div class="modal-footer">
          <button #addbtn  type="submit" class="btn btn-outline-success" (click)="updateProduct(product.id,pname.value , pcategory.value , pprice.value)">Update</button>
          <button type="button" class="btn btn-outline-danger"  (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>
        
                          <li><button  title="Edit Product" class="btn btn-success btn-circle btn-sm"   (click)="open(content)"><i class="fa fa-edit "></i></button></li>


                            <br>

                          <!--------------------------Delete Product-->
                            <li><button (click) = " deleteProduct(product.id)" title="Delete Product" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-trash "></i></button></li>
                    
                          </ul>
                         </figure>
                        
                            <div class="publication-content">
                          
                                <span class="category">{{product.category}}</span>
                                <h3><a href="#">{{product.name}}</a></h3>
                              
                                <h4 class="price">{{product.price}} </h4>
                            </div>

                            <div class="add-to-cart">
                                <a href="#" class="default-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </section>